body{
    background-image: url(GhostOfTsushima_fondo.png);
    background-size: cover;
    background-position: center;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: white;
}
h1{
    text-align: center;
    color: white;
    font-size: 70px;
}
nav{
    font-size: 30px;
    margin: 0;
    ol{
    margin: 0;
    padding: 0;
    text-align: center;
    }
    li{
    border: 1px solid black;
    display: inline-block;
    background-color: red;
    color: white;
    padding: 5px 0px;
    width: 24.89%;
    margin: 0;
    }
    a{
        text-decoration: none;
        color: black;
    }
}