h1{
    color:white;
    display: flex;
    justify-content: center;
    font-size: 50px;
    background-image: url(https://media.istockphoto.com/id/1060558458/es/vector/fin-juegos-pantalla-glitch-frase-de-videojuegos-de-ordenador-y-tocando-la-pantalla-de-la.jpg?s=1024x1024&w=is&k=20&c=wvYNdCFmntjP1x0LRtWE8jND0A8jnqMdYatXZllDjzk=);
    margin: 0;
    text-align: left;
}
body{    
    background-image: url(https://img.magnific.com/vector-gratis/fondo-abstracto-blanco_23-2148832014.jpg?semt=ais_hybrid&w=740&q=80);
    background-size: cover;
    background-position: center;
}
nav{
    font-size: 30px;
    ol{
    margin: 0;
    padding: 0;
    text-align: center;
    }
    li{
    display: inline-block;
    background-color: black;
    color: white;
    padding: 5px 0px;
    width: 25%;
    }
    a{
        text-decoration: none;
        color: yellow;
    }
}
header p{
        background-image: url(https://media.istockphoto.com/id/1060558458/es/vector/fin-juegos-pantalla-glitch-frase-de-videojuegos-de-ordenador-y-tocando-la-pantalla-de-la.jpg?s=1024x1024&w=is&k=20&c=wvYNdCFmntjP1x0LRtWE8jND0A8jnqMdYatXZllDjzk=);
        text-align: center;
        margin: 0;
}
