body{
    background-image: url(Overwatch_fondo.jpg);
    background-size: cover;
    background-position: center;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: white;
}